<p id="notice"><%= notice %></p>


<h1>people who applied for jobs</h1>

<div class="container">          
  <table class="table table-striped">
  <thead>
    <tr>
      <th>user name</th>
      <th>user id</th>
      <th>phno</th>
    </tr>
  </thead>

  <tbody>
    <% @alluserjobs.each do |alluserjobs| %>
      <tr>  
      <% if alluserjobs.userid = current_user.id %>
        <% @tmpJob = User.where(:id => alluserjobs.userid).first %>
          <td><%= @tmpJob.name %></td>
          <td><%= @tmpJob.email %></td>
         <td><%= @tmpJob.phno %></td>
      <% end %> 
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
<br>
